<a href="https://colab.research.google.com/github/EmilioNet2/Optativa_profesionalizante_I/blob/main/Ejercicio5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame({'Nombre': ['Ana', 'Juan', 'Maria', 'Carlos', 'Sofia'],
                   'Edad': [25, 30, 22, 28, 35],
                   'Ciudad': ['Madrid', 'Barcelona', 'Madrid', 'Valencia', 'Barcelona'],
                   'Puntuacion': [85, 92, 78, 95, 88]
                   })

print("DataFrame Original:")
print(pd)

DataFrame Original:
<module 'pandas' from '/usr/local/lib/python3.10/dist-packages/pandas/__init__.py'>

Filtrado

In [5]:
Mayores_25 = df[df['Edad']> 25]
print("\nDataFrame mayores de 25")
print(Mayores_25)

DataFrame mayores de 25
   Nombre  Edad     Ciudad  Puntuacion
1    Juan    30  Barcelona          92
3  Carlos    28   Valencia          95
4   Sofia    35  Barcelona          88

Agrupacion y agregacion

In [7]:
resultado = df[df['Edad']> 25].groupby('Ciudad')['Puntuacion'].max()
print("\nMaxima puntuacion por ciudad para personas mayores de 25 años")
print(resultado)

Maxima puntuacion por ciudad para personas mayores de 25 años
Ciudad
Barcelona    92
Valencia     95
Name: Puntuacion, dtype: int64