<a href="https://colab.research.google.com/github/EmilioNet2/Optativa_profesionalizante_I/blob/main/Ejercicio6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio 6

**Tipos de uniones (joins) en Python:**

1. inner join:

In [12]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Nombre': ['Ana', 'Juan', 'Maria', 'Carlos'],
    'Departamento': ['Ventas', 'IT', 'Marketing', 'RH']
})

df2= pd.DataFrame ({
    'ID': [3, 4, 5, 6],
    'Salario': [50000, 60000, 550000, 650000]
})

print("DataFrame 1:")
print("DataFrame 2:")

DataFrame 1:
DataFrame 2:

Fusion Inner

In [4]:
inner_merge = pd.merge(df1, df2, on='ID', how='inner')
print("\nFusion inner:")
print(inner_merge)

Fusion inner:
   ID  Nombre Departamento  Salario
0   3   Maria    Marketing    50000
1   4  Carlos           RH    60000

Fusion outer

In [7]:
outer_merge = pd.merge(df1, df2, on='ID', how='outer')
print("\nFusion outer:")
print(outer_merge)

Fusion outer:
   ID  Nombre Departamento   Salario
0   1     Ana       Ventas       NaN
1   2    Juan           IT       NaN
2   3   Maria    Marketing   50000.0
3   4  Carlos           RH   60000.0
4   5     NaN          NaN  550000.0
5   6     NaN          NaN  650000.0

Fusion Left

In [8]:
left_merge = pd.merge(df1, df2, on='ID', how='left')
print("\nFusion left:")
print(left_merge)

Fusion left:
   ID  Nombre Departamento  Salario
0   1     Ana       Ventas      NaN
1   2    Juan           IT      NaN
2   3   Maria    Marketing  50000.0
3   4  Carlos           RH  60000.0

Fusin Right

In [9]:
right_merge = pd.merge(df1, df2, on='ID', how='right')
print("\nFusion right:")
print(right_merge)

Fusion right:
   ID  Nombre Departamento  Salario
0   3   Maria    Marketing    50000
1   4  Carlos           RH    60000
2   5     NaN          NaN   550000
3   6     NaN          NaN   650000

Concatenacion

In [13]:
df3 = pd.DataFrame({
    'ID': [7, 8],
    'Nombre': ['Sofia', 'Pedro'],
    'Departamento': ['Finanzas', 'Ventas']
})

concatenated = pd.concat([df1, df3])
print("\nConcatenacion de DataFrames:")
print(concatenated)

Concatenacion de DataFrames:
   ID  Nombre Departamento
0   1     Ana       Ventas
1   2    Juan           IT
2   3   Maria    Marketing
3   4  Carlos           RH
0   7   Sofia     Finanzas
1   8   Pedro       Ventas